body{
    background-image: url("./OIP.jpeg.jpg");
    /* background-repeat: no-repeat;
    background-size: cover; */
}
#chat1,#chat2{
    border: 1px solid gainsboro;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    background-image: url('./images\ \(1\).jpeg');
    /* border-radius: 15px; */
}
#box{
    display: flex;
    justify-content: space-evenly;
    height: 47vw;
    align-items: center;
}
[type='text']{
    display: inline-block;
    width: 280px;
    border-radius: 5px;
    height: 20px;
}
p{
    color: black;
}
#chatArea1,#chatArea2{
    width: 100%;
    height: 475px;
    padding-right: -10px;
    overflow-y: scroll;
    color: white;
}